    <div class="jumbotron">
        <h1>Stripe payment integration demo with noetic ideas!</h1>
        <p>Please Login To Pay 10$ donation	</p>
        <p><%= link_to "Continue", new_user_registration_path,class: "btn btn-primary btn-sm" %></p>
    </div>